body {
	margin: 0;
	font-family: sans-serif;
}

main {
	margin-top: 4em;
}

header nav {
	position: absolute;
	top: 0;
	display: block;
	background: #019396;
	width: 100%;
}

header nav ul {
	max-width: 1024px;
	margin: 0 auto;
	display: block;
	padding: 20px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0 1em;
}

header nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: whitesmoke;
}

header nav ul li a:hover {
	font-weight: 900;
}

header nav ul li a.active {
	font-weight: 900;
}

section{
	display: none;
	max-width: 1024px;
	padding: 2em;
	margin: 0 auto;
}
 
section.active, section > section {
	display: block;
}

section article {
	background: #eee;
	margin-bottom: 1em;
	padding: 1em;
}