body {
	margin: 0;
	font-family: sans-serif;
}

main {
	margin-top: 4em;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap /* works with row or column */;
	flex-flow: column wrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

h1 {
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	color: #10C99E;
	text-shadow: 1px 1px 50px white;
	display: block;
	line-height: 1;
	background: url(../../images/text-bg.png) repeat-x;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 8s linear infinite;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

header nav {
	position: absolute;
	top: 0;
	display: flex;
	background: #019396;
	width: 100%;
}

header nav ul {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	display: block;
	padding: 20px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0 1em;
}

header nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: whitesmoke;
}

header nav ul li a:hover {
	font-weight: 900;
}

header nav ul li a.active {
	font-weight: 900;
}

section{
	display: none;
	max-width: 1024px;
	padding: 2em;
}
 
section.active, section > section {
	display: flex;
}

section article {
	/*background: #eee;*/
	margin-bottom: 1em;
	padding: 1em;
}

section > div {
	border-bottom: 2px dashed white;
	/*width: 100%;*/
}

body  {
	background: url(../../images/mountain.jpg) right center no-repeat;
	background-size: cover;
}

p span {
	font-weight: bolder;
	color: white;
	background: red;
	padding: 2px 6px;
}

/*table styles*/
table {
    width:100%;
	border-spacing: 0px;
	border: none;
	
}
table tr:nth-child(even) {
    background-color: rgba(218,218,218,.5);
	height: 20px;
}
table tr:nth-child(odd) {
   background-color:rgba(255,255,255,.5);
}
table th	{
    background-color: black;
    color: white;
	text-align: left;
	padding: 5px 10px;
}

table td {
	padding: 0px 10px;
}

